<h4>.row</h4>
<div class="row">
  <div class="col-6 bg-info">
    A
  </div>
  <div class="col-6 bg-danger">
    <div class="row">
      <div class="col-6 bg-primary">B1</div>
      <div class="col-6 bg-primary">B2</div>
    </div>
  </div>
  <div class="col-md-6 bg-info">A</div>
  <div class="col-md-6 bg-info">B</div>
  <div class="col-12 bg-danger">C</div>
  <div class="col-md-4 col-lg-6 bg-info">D</div>
  <div class="col-md-4 col-lg-3 bg-primary">E</div>
  <div class="col-md-4 col-lg-3 bg-primary">F</div>
  <div class="col-6 col-md-4 col-lg-2 bg-secondary">F</div>
  <div class="col-6 col-md-4 col-lg-2 bg-secondary">F</div>
  <div class="col-6 col-md-4 col-lg-2 bg-secondary">F</div>
</div>
<h4>.row.no-gutters</h4>
<div class="row no-gutters">
  <div class="col-6 bg-primary">B1</div>
  <div class="col-6 bg-info">B2</div>
</div>
<h4>.offset</h4>
<div class="row">
  <div class="col-md-2 bg-info">.col-md-3</div>
  <div class="col-md-7 offset-md-3 col-lg-3 offset-lg-7 bg-secondary">.col-md-3 .offset-md-3</div>
</div>
<h4>.no-gutters .offset</h4>
<div class="row no-gutters">
  <div class="col-md-2 bg-info">.col-md-3</div>
  <div class="col-md-7 offset-md-3 col-lg-3 offset-lg-7 bg-secondary">.col-md-3 .offset-md-3</div>
</div>
<h4>.col</h4>
<div class="row">
  <div class="col bg-primary">Column</div>
  <div class="col-6 bg-primary">Column</div>
  <div class="col bg-primary">Column</div>
</div>
